<div id="file-list" class="file-list" hx-trigger="load" hx-target="#menu-popup"
	hx-get="/menu-items{{$.QueryParams}}&path={{.Path}}">
	{{if .IsHome }}
	{{ else }}
	<div class="file-row" hx-get="{{$.ParentPath}}{{$.QueryParams}}" hx-target="#file-list" hx-push-url="true">
		<div class="file-icon_wrapper">
			<img class="file-icon_img" src="/static/folder.svg" />
		</div>
		<div class="file-details">
			<div class="file-details_name">..</div>
			<div class="file-details_description"></div>
		</div>
	</div>
	{{end}}
	{{ range .Entries }}
	{{ if .IsDir }}
	<div class="file-row" hx-get="{{.Path}}{{$.QueryParams}}" hx-target="#file-list" hx-push-url="true">
		<div class="file-icon_wrapper">
			<img class="file-icon_img" src="/static/folder.svg" />
		</div>
		<div class="file-details">
			<div class="file-details_name">{{ .Name }}</div>
		</div>
	</div>
	{{else}}
	<a class="file-row" href="{{.Path}}">
		<div class="file-icon_wrapper">
			{{ if .Thumbnail }}
			<img class="file-icon_img" src="/__preview{{.Path}}" onerror="this.src='/static/file.svg'" />
			{{ else }}
			<img class="file-icon_img" src="/static/files.svg" onerror="this.src='/static/file.svg'" />
			{{ end }}
		</div>
		<div class="file-details">
			<div class="file-details_name">{{ .Name }}</div>
			<div class="file-details_description">{{.Size.FormatSizeUnits}}</div>
		</div>
	</a>
	{{end}}
	{{ end }}
	<hr />
</div>
