<!DOCTYPE html>
<html lang="en">

<head>
	<title>DeckyFileServer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/static/htmx.min.js" type="text/javascript"></script>
	<link href="/static/index.css" rel="stylesheet">
	<link href="/static/folder.svg" rel="icon">
</head>

<body>
<div id="modal" class="modal">
	<div id="modal-content" class="modal-content"></div>
</div>
<div class="root">
	<div class="container">
		<div class="menu">
			<div class="back-button" hx-get="/" hx-target="#content" hx-push-url="true">Home</div>
			<div id="menu-button" class="menu-button">
				<img class="file-icon_img" src="/static/menu.svg" />
			</div>
			<div id="menu-backdrop" class="menu-backdrop"></div>
			<div id="menu-popup" class="menu-popup">{{template "menu" .}}</div>
		</div>
		<main id="content">{{template "content" .}}</main>
	</div>
</div>
</body>

<script>

	document.addEventListener("DOMContentLoaded", function() {
		let backdrop = document.getElementById("menu-backdrop");
		let menuButton = document.getElementById("menu-button");
		let menuPopup = document.getElementById("menu-popup");
		let modal = document.getElementById("modal");

		menuButton.addEventListener('click', function () {
			backdrop.style.display = "block";
			menuPopup.style.display = "block";
		});

		menuPopup.addEventListener('click', function () {
			backdrop.style.display = "none";
			menuPopup.style.display = "none";
		});

		backdrop.addEventListener('click', function () {
			backdrop.style.display = "none";
			menuPopup.style.display = "none";
		});

		modal.addEventListener("click", function (e) {
			if (e.target === modal) {
				modal.style.display = "none";
			}
		});
	});

</script>
</html>
