<div id="menu-popup" hx-swap-oob="innerHTML">
	<div class="menu-list">
		<div class="menu-item" hx-get="{{.Path}}{{.HiddenParamsText}}" hx-target="#content" hx-push-url="true">
			{{ if .ShowHidden }}
			Hide Hidden
			{{ else }}
			Show Hidden
			{{ end }}
		</div>
		<div class="menu-item" hx-get="{{.Path}}{{.ReverseParamsText}}" hx-target="#content" hx-push-url="true">
			{{ if .Reverse }}
			Sort Alphabetically (A-z)
			{{ else }}
			Sort Alphabetically (Z-a)
			{{ end }}
		</div>
	</div>
</div>
