<div id="modal-content" class="modal-content">
    <div class="upload-container">
        <h2>Upload Files</h2>
        <div class="file-input-container">
            <button id="file-input-button" onclick="handleFileInputClick()" >Choose Files</button>
            <span id="file-name-text">No files selected</span>
            <span id="file-size-text"></span>
            <input type="file" id="file-input" onchange="handleFileChange(event)" multiple>
        </div>
        <button class="submit-button" id="submit-button" onclick="uploadFile()" disabled>Upload</button>
        <button class="cancel-button" id="cancel-button" onclick="cancelUpload()" disabled>Cancel</button>
        <div class="progress-container" id="progress-container">
            <div id="progress-bar" class="progress-bar">
                <span id="progress-bar-text" class="progress-bar-text">0%</span>
            </div>
        </div>
        <div id="file-progress-container" style="margin-top: 10px; display: none;">
            <div id="file-progress-text" class="file-progress-text"></div>
        </div>
    </div>
</div>
<script>
    var IS_UPLOADING = false;
    var checksum;
    var chunkSize = 1024 * 1024; // 1MB

    var fileInput = document.getElementById('file-input');
    var progressContainer = document.getElementById('progress-container');
    var progressBar = document.getElementById('progress-bar');
    var progressBarText = document.getElementById('progress-bar-text');
    var submitButton = document.getElementById('submit-button');
    var cancelButton = document.getElementById('cancel-button');
    var modal = document.getElementById('modal');

    modal.addEventListener("click", handleModalClick);
    function handleModalClick(e) {
        if (e.target !== modal) return;
        if (IS_UPLOADING) {
            IS_UPLOADING = !confirm("Cancel Upload?");
        }
        if (IS_UPLOADING) return;
        cancelUpload();
        modal.style.display = "none";
        modal.removeEventListener("click", handleModalClick);
        checksum = null;
    }

    function setIsUploading(uploading) {
        IS_UPLOADING = uploading;
        submitButton.disabled = uploading;
        cancelButton.disabled = !uploading;
        submitButton.style.display = uploading ? 'none' : 'block';
        cancelButton.style.display = uploading ? 'block' : 'none';
    }

    async function cancelUpload() {
        if (!checksum) return;
        return new Promise((resolve, reject) => {
            try {
                const url = "/cancel_upload?filehash=" + encodeURIComponent(checksum);
                const xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.onload = () => {
                    if (xhr.status === 200) {
                        resolve();
                    } else {
                        reject(new Error(`Failed to cancel upload with code: ${xhr.status}`));
                    }
                };
                xhr.onerror = () => {
                    reject(new Error('Network error occurred.'));
                };
                xhr.send();
                progressBarText.innerText = "Cancelled!";
                setIsUploading(false);
            } catch (e) {
                console.error(e);
            }
        });
    }

    function handleFileInputClick() {
        fileInput.click();
    }

    function handleFileChange(event) {
        const files = event?.target?.files;
        if (files && files.length > 0) {
            setFiles(files);
        }
    }

    function setFiles(files) {
        if (files?.length) {
            fileInput.files = files;
            document.getElementById('file-name-text').innerText = files.length + " file(s) selected";
            let totalSize = 0;
            for (let i = 0; i < files.length; i++) {
                totalSize += files[i].size;
            }
            document.getElementById('file-size-text').innerText = `(${convertFileSize(totalSize)})`;
        } else {
            document.getElementById('file-name-text').innerText = "Select Files";
            document.getElementById('file-size-text').innerText = "";
        }
        submitButton.disabled = !files || files.length === 0;
        progressContainer.style.display = 'none';
        setProgress(0);
    }

    async function uploadFile() {
        submitButton.disabled = true;
        const files = fileInput.files;
        if (!files || files.length === 0) return;
        const fileProgressContainer = document.getElementById('file-progress-container');
        const fileProgressText = fileProgressContainer.querySelector('#file-progress-text');
        const startTime = performance.now();
        try {
            let totalSize = 0;
            for (let i = 0; i < files.length; i++) {
                totalSize += files[i].size;
            }
            let uploadedSize = 0;
            let completedFiles = 0;
            fileProgressContainer.style.display = 'block';
            fileProgressText.innerText = `Uploaded ${completedFiles}/${files.length} files`;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const arrayBuffer = await file.arrayBuffer();
                const hashBuffer = await crypto.subtle.digest('SHA-256', arrayBuffer);
                const hashArray = Array.from(new Uint8Array(hashBuffer));
                checksum = hashArray.map(byte => byte.toString(16).padStart(2, '0')).join('');

                fileInput.disabled = true;
                submitButton.disabled = true;
                cancelButton.style.display = 'block';
                submitButton.style.display = 'none';
                progressContainer.style.display = 'block';

                let start = 0;
                const totalChunks = Math.ceil(file.size / chunkSize);
                setIsUploading(true);

                while (start < file.size && IS_UPLOADING) {
                    const end = Math.min(start + chunkSize, file.size);
                    const chunk = file.slice(start, end);
                    const elapsedTime = (performance.now() - startTime) / 1000;
                    const bitrate = (uploadedSize + ((end / file.size) * file.size)) / elapsedTime;
                    setProgress(Math.floor((uploadedSize + ((end / file.size) * file.size)) / totalSize * 100), bitrate);
                    await uploadChunk(chunk, start, end, totalChunks, checksum, file);
                    start = end;
                }

                completedFiles++;
                uploadedSize += file.size;
                fileProgressText.innerText = `Uploaded ${completedFiles}/${files.length} files`;
            }
        } catch (e) {
            console.error(e);
        } finally {
            setIsUploading(false);
            fileInput.value = '';
            document.getElementById('file-name-text').innerText = "Select Files";
            document.getElementById('file-size-text').innerText = "";
            fileProgressContainer.style.display = 'none';
        }
    }

    async function uploadChunk(chunk, start, end, total, checksum, file) {
        try {
            return new Promise((resolve, reject) => {
                const url = "/upload?path={{.Path | urlquery}}&filename=" + encodeURIComponent(file.name);
                const xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/octet-stream');
                xhr.setRequestHeader('Upload-Offset', start);
                xhr.setRequestHeader('Upload-Incomplete', String(end !== file.size));
                xhr.setRequestHeader('X-File-Checksum', checksum);
                xhr.onload = () => {
                    if (xhr.status === 200) {
                        resolve();
                    } else {
                        reject(new Error(`Upload failed with status: ${xhr.status}`));
                    }
                };
                xhr.onerror = () => {
                    reject(new Error('Network error occurred.'));
                };
                xhr.send(chunk);
            });
        } catch (e) {
            console.error('Upload failed with status: ' + xhr.status);
        }
    }

    function setProgress(value, bitrate) {
        progressBar.style.width = value + "%";
        progressBarText.innerHTML = value + `% (${convertFileSize(bitrate)}/s)`;
    }

    document.getElementById("modal").style.display = "block";

    function convertFileSize(size) {
        const KB = 1024;
        const MB = 1048576;
        const GB = 1073741824;

        if (size >= GB) return `${(size / GB).toFixed(2)} GB`;
        if (size >= MB) return `${(size / MB).toFixed(2)} MB`;
        if (size >= KB) return `${(size / KB).toFixed(2)} KB`;
        return `${size} Bytes`;
    }

</script>
